@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --gap-size: 32px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto,
      Ubuntu, sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #e2dbdb; */
  background: black;
}
/* main {
    background-color: #161717;
} */
header,
footer {
  display: flex;
  width: 100%;
  align-items: center;
  /* background: rgba(20, 19, 19, 0.05); */
  background: black;
  gap: 12px;
}

header {
  justify-content: space-between;
  padding: 0 var(--gap-size);
  gap: calc(var(--gap-size) * 2);
  box-shadow: rgba(189, 36, 36, 0.05) 0 2px 6px 0;
  flex-direction: row;
  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";
}

header #site-logo {
  font-weight: 600;
  font-size: 32px;
  padding: 16px;
  background: var(
      --18-promo-gradient-02,
      linear-gradient(90deg, #713b05 0%, #5d3004 100%)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


header input[type='search'] {
  padding: 10px;
  width: 100%;
  height: 32px;
  max-width: 400px;
  border: 1px solid #dd3c3cf4;
  border-radius: 20px;
}

footer {
  flex-direction: column;
  padding: calc(var(--gap-size) * 0.5) var(--gap-size);
  margin-top: var(--gap-size);
  border-top: solid 2px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

footer p,
#powered-by-tv p {
  margin: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

main {
  display: grid;
  width: 100%;
  padding: 0 calc(var(--gap-size) * 0.5);
  max-width: 960px;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gap-size);
}

.span-full-grid,
#symbol-info,
#advanced-chart,
#company-profile,
#fundamental-data {
  grid-column: span 2;
}

.span-one-column,
#technical-analysis,
#top-stories,
#powered-by-tv {
  grid-column: span 1;
}

.skeleton,

#ticker-tape {
  text-align: center;
  margin: 1rem;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

#ticker-tape {
  width: 100%;
  margin-bottom: var(--gap-size);
  /*height: 75px;*/
}

/* #symbol-info {
  height: 175px;
} */

#advanced-chart {
  height: 500px;
}

#company-profile {
  height: 390px;
}

#fundamental-data {
  height: 490px;
}

#technical-analysis,
#top-stories {
  height: 425px;
}

#powered-by-tv {
  display: flex;
  background: #0d0d0e;
  border: solid 1px #e0e3eb;
  text-align: justify;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  padding: 16px;
  border-radius: 6px;
}

#powered-by-tv a,
#powered-by-tv a:visited {
  color: #27282b;
}

@media (max-width: 800px) {
  main > section,
  .span-full-grid,
  #technical-analysis,
  #top-stories,
  #powered-by-tv {
      grid-column: span 2;
  }
}

/* Add your global styles here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #0d0c0c;
}


header {
  background-color: #191818;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} 

/* Updated style for the tradingview widget container */
.tradingview-widget-container {
  margin: 0 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
}

#symbol-info {
  /* height: 175px; */
  text-align: center;
  padding: 0px;
  font-size: 24px;
  background: rgba(12, 12, 12, 0.075);
  border-radius: 6px;
}
#company-profile{
  background: rgba(17, 17, 17, 0.978);
}


