@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@keyframes loop-scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar.active {
  background-color: #000000;
}
.animate-loop-scroll {
  display: flex;
  white-space: nowrap;
  animation: loop-scroll 30s linear infinite;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.custom-gradient-corners {
  background: radial-gradient(
      circle at top left,
      rgba(5, 5, 5, 0.979),
      transparent 70%
    ),
    radial-gradient(circle at top right, rgba(8, 9, 8, 0.986), transparent 70%),
    radial-gradient(circle at bottom left, rgb(0, 0, 0), transparent 70%),
    radial-gradient(circle at bottom right, rgb(0, 0, 0), transparent 70%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff9d00, 0 0 5px #ff9d00, 0 0 5px #ff9d00,
      0 0 5px #ff9d00;
  }
  100% {
    box-shadow: 0 0 10px #ff9d00, 0 0 10px #ff9d00, 0 0 10px #ff9d00,
      0 0 10px #ff9d00;
  }
}

.glow-button {
  animation: glow 2s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.search-input {
  width: 0;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.search-input-active {
  width: 300px; /* Adjust to your preferred width */
  opacity: 1;
}
