@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@keyframes loop-scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-loop-scroll {
  display: flex;
  white-space: nowrap;
  animation: loop-scroll 30s linear infinite;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff9d00, 0 0 5px #ff9d00, 0 0 5px #ff9d00,
      0 0 5px #ff9d00;
  }
  100% {
    box-shadow: 0 0 10px #ff9d00, 0 0 10px #ff9d00, 0 0 10px #ff9d00,
      0 0 10px #ff9d00;
  }
}

.glow-button {
  animation: glow 2s infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
